.article-title.fond-size-xl {
    background-color: palevioletred;
    font-size: 30px;
}

.article-title {
    background-color: black;
    color: azure;
}

#test {
    background-color: brown;
}

.test-block {
    background-color: blueviolet;
    color: white;
}

h3 {
    background-color: blue;
}

.menu-item {
    width: 150px;
    height: 70px;
    background-color: gray;
    margin-bottom: 10px;
}

.menu-item p {
    background-color: gray;
    color: rgb(12, 156, 60);
}

.menu-item:hover {
    background-color: rgb(94, 221, 101);
}

.menu-item.active {
    background-color: orange;
}

p {
    background-color: yellow;
    font-size: 20px;
}

.menu-item.active p {
    color: aqua;
}

/* p span {
    color: white;
} */
.menu-item span {
    color: black;
}

.menu-item.active span {
    color: chartreuse;
}

ul li:first-child {
    background-color: rgb(20, 73, 73);
    color: rgb(206, 241, 185);
}

ul li:last-child {
    background-color: rgb(180, 132, 27);
    color: rgb(0, 0, 0);
}

ul li:nth-child(4) {
    background-color: bisque;
    color: blue;
}

ul li:nth-child(3) {
    background-color: rgb(163, 59, 11);
    color: blue;
}

input[type="text"] {
    background-color: coral;
}